<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.unifiedticketing">

    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".Result"></activity>
        <activity android:name=".TicketHistory"
            android:theme="@style/ticket_history"/>
        <activity android:name=".QrGeneration"
            android:theme="@style/qr"/>
        <activity android:name=".Wallet" />
        <activity android:name=".MyPass" />
        <activity android:name=".RenewPass" />
        <activity android:name=".ApplyPass" />
        <activity android:name=".GenerateTicket" />
        <activity
            android:name=".Splash"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:noHistory="true" />
        <activity
            android:name=".ForgotPassword"
            android:noHistory="true" />
        <activity
            android:name=".Login"
            android:noHistory="true" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>